@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #eee;
  color: #111;
}

html {
  color-scheme: dark;
  font-size: 1rem;
}

.animate-in {
  animation-delay: calc(var(--index) * 250ms);
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}